<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="apps-dev-menu" label="Dev">
    <item label="pycharm">
        <action name="Execute">
            <execute>
                /home/yed/bin/pycharm/bin/pycharm.sh
            </execute>
        </action>
    </item>
    <item label="idea">
        <action name="Execute">
            <execute>
                /home/yed/bin/idea/bin/idea.sh
            </execute>
        </action>
    </item>
    <separator/>
    <item label="Filezilla">
        <action name="Execute">
            <execute>
                filezilla
            </execute>
        </action>
    </item>

    <item label="Poedit">
        <action name="Execute">
            <execute>
                poedit
            </execute>
        </action>
    </item>
    <item label="Meld">
        <action name="Execute">
            <execute>
                meld
            </execute>
        </action>
    </item>

    <item label="Gaphor">
        <action name="Execute">
            <execute>
                gaphor
            </execute>
        </action>
    </item>

    <item label="xterm">
        <action name="Execute">
            <execute>
                xterm
            </execute>
        </action>
    </item>

    <item label="VirtualBox">
        <action name="Execute">
            <execute>
                VirtualBox
            </execute>
        </action>
    </item>

</menu>
<menu id="apps-net-menu" label="Internety">
    <item label="Thunderbird">
        <action name="Execute">
            <execute>
                thunderbird
            </execute>
        </action>
    </item>

    <item label="Gajim">
        <action name="Execute">
            <execute>
                gajim
            </execute>
        </action>
    </item>
    <item label="Xchat">
        <action name="Execute">
            <execute>
                xchat
            </execute>
        </action>
    </item>
    <item label="Skype">
        <action name="Execute">
            <execute>
                skype
            </execute>
        </action>
    </item>
    <item label="Opera">
        <action name="Execute">
            <command>
                opera
            </command>
        </action>
    </item>
    <item label="Chromium">
        <action name="Execute">
            <command>
                chromium
            </command>
        </action>
    </item>
    <item label="Chromium w/ proxy">
        <action name="Execute">
            <command>
                chromium --proxy-server="fakedns.infra.chservices.cz:3128"
            </command>
        </action>
    </item>
    <item label="Chromium w/ QA proxy">
        <action name="Execute">
            <command>
                chromium --proxy-server="tst-bastldns.dev.chservices.cz:3128"
            </command>
        </action>
    </item>

</menu>
<menu id="apps-office-menu" label="Office">
    <item label="Stardict">
        <action name="Execute">
            <command>stardict</command>
        </action>
    </item>


    <item label="*Office">
        <action name="Execute">
            <command>soffice</command>
        </action>
    </item>
</menu>
<menu id="apps-accessories-menu" label="Network">
    <item label="Grafik">
        <action name="Execute">
            <execute>
                /home/yed/skript/grafik.sh
            </execute>
        </action>
    </item>

    <item label="Bender">
        <action name="Execute">
            <execute>
                /home/yed/skript/bender.sh
            </execute>
        </action>
    </item>
    <item label="Flexo">
        <action name="Execute">
            <execute>
                /home/yed/skript/flexo.sh
            </execute>
        </action>
    </item>
    <item label="Fry">
        <action name="Execute">
            <execute>
                /home/yed/skript/fry.sh
            </execute>
        </action>
    </item>
    <item label="R2">
        <action name="Execute">
            <execute>
                /home/yed/skript/r2.sh
            </execute>
        </action>
    </item>
    <item label="Grsync">
        <action name="Execute">
            <command>
                grsync
            </command>
        </action>
    </item>
</menu>
<menu id="apps-multimedia-menu" label="Multimedia">
    <item label="QuodLibet">
        <action name="Execute">
            <execute>
                quodlibet
            </execute>
        </action>
    </item>
    <item label="Gnome Mplayer">
        <action name="Execute">
            <execute>
                gnome-mplayer
            </execute>
        </action>
    </item>


</menu>
<menu id="apps-graphics-menu" label="Graphics">
    <item label="Gimp">
        <action name="Execute">
            <command>
                gimp
            </command>
        </action>
    </item>
    <item label="Inkscape">
        <action name="Execute">
            <command>
                inkscape
            </command>
        </action>
    </item>
</menu>
<menu id="editors-menu" label="Editors">
    <item label="Bluefish">
        <action name="Execute">
            <command>
                bluefish
            </command>
        </action>
    </item>
    <item label="Gedit">
        <action name="Execute">
            <command>
                leafpad
            </command>
        </action>
    </item>

    <item label="Gedit foo">
        <action name="Execute">
            <command>
                leafpad ~/Desktop/foo
            </command>
        </action>
    </item>
</menu>


<menu id="openbox-menu" label="Openbox">
    <item label="rc.xml">
        <action name="Execute">
            <command>
                leafpad ~/.config/openbox/rc.xml
            </command>
        </action>
    </item>

    <item label="menu.xml">
        <action name="Execute">
            <command>
                leafpad ~/.config/openbox/menu.xml
            </command>
        </action>
    </item>

    <item label="autostart.sh">
        <action name="Execute">
            <command>
                leafpad ~/.config/openbox/autostart.sh
            </command>
        </action>
    </item>


    <separator/>
    <item label="Openbox cfgman">
        <action name="Execute">
            <command>
                obconf
            </command>
        </action>
    </item>
    <item label="Reload config">
        <action name="Reconfigure"/>
    </item>


</menu>
<menu id="netlocation" label="Netlocation">
    <item label="IDC">
        <action name="Execute">
            <command>
                ~/skript/netlocation/netlocation.py idc
            </command>
        </action>
    </item>
    <item label="Kafkova">
        <action name="Execute">
            <command>
                ~/skript/netlocation/netlocation.py kafkova
            </command>
        </action>
    </item>
    <separator/>
    <item label="Guess">
        <action name="Execute">
            <command>
                ~/skript/netlocation/netlocation.py
            </command>
        </action>
    </item>

</menu>

<menu id="commands-menu" label="Commands">
    <menu id="netlocation"/>
    <item label="Mount jatka">
        <action name="Execute">
            <command>
                mount ~/mount/jatka
            </command>
        </action>
    </item>
    <item label="Disable xscreensaver">
        <action name="Execute">
            <command>
                xscreensaver-command -exit
            </command>
        </action>
    </item>

</menu>

<menu id="root-menu" label="Openbox 3">
    <item label="Firefox">
        <action name="Execute">
            <command>firefox</command>
        </action>
    </item>

    <item label="Terminator">
        <action name="Execute">
            <execute>terminator -l=simple</execute>
        </action>
    </item>
    <menu id="editors-menu"/>
    <separator/>
    <menu id="apps-net-menu"/>
    <menu id="apps-dev-menu"/>
    <menu id="apps-graphics-menu"/>
    <menu id="apps-accessories-menu"/>
    <menu id="apps-office-menu"/>
    <menu id="apps-multimedia-menu"/>
    <menu id="apps-term-menu"/>
    <menu id="apps-fileman-menu"/>
    <separator label="System"/>
    <menu id="openbox-menu"/>
    <menu id="commands-menu"/>
    <item label="Lock screen">
        <action name="Execute">
            <command>
                xscreensaver-command -l
            </command>
        </action>
    </item>
</menu>
</openbox_menu>
